# Build Folders
bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

# User-specific files
*.db
*.sln.ide
*.sln.suo

# ASP.NET Core
project.lock.json
project.fragment.lock.json
*.dotnet/
.project.json
*.csproj.user

# Logs
*.log

# Secrets
secrets.json

# Docker
docker-compose.override.yml
.env

# Other IDEs
*.sublime-workspace
*.sublime-project
